body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Para esconder qualquer overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Definindo o body como relativo */
    z-index: 1; /* Garantindo que o body esteja acima de todos os elementos */
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Tamanho maior para cobrir diagonalmente */
    height: 200%; /* Tamanho maior para cobrir diagonalmente */
    transform: translate(-50%, -50%);
    z-index: -1; /* Definindo o background como mais profundo */
}

.img_background {
    width: 100%;
    height: 100%;
    background-image: url('/IMG/img_background.png'); /* Substitua pelo caminho da sua imagem */
    background-size: auto;
    background-repeat: repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Definindo o container como relativo */
    z-index: 2; /* Garantindo que o container esteja acima do background */
    width: 100%;
    height: 100%;
}

.quadrado {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Cor preta com 70% de transparência */
    border-radius: 10px; /* Borda redonda com raio de 10px */
    border: 3px solid white; /* Borda branca fina */
    transition: none; /* Remove transições CSS */
}
